<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tasty Recipes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        footer{
            box-sizing: border-box;
        }

        .copy-right{
            margin-right: 300px;
        }
    </style>

</head>

<body style="margin:0; padding:0;">

    <!-- footer  -->
    <footer class="footer">
            <div id="footer-logo-area" style="margin-bottom: 30px;">
                <img src="img/logo.png">
                <h2 style="margin-top: 42px;">1588-0505</h2>
            </div>
            <div class="copy-right">
                45662 서울특별시 강남구 피자로 100 장인의손길㈜｜대표이사 : 김장인<br>
                사업자 등록번호: 1203-23233-3578901｜통신판매업신고: 갱냄 5103호｜개인정보 보호책임자 : 김말똥<br>
                문의 : pizzameister11@gmail.com<br>
                Copyright ⓒ Meister Pizza. All rights reserved
            </div>
                      
        </footer>
    <!--/ footer  -->
    <!-- 테스트_진아!!   -->
</body>

</html>